# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Distribution / packaging
.Python
build/
docs/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/

# Dist directory generated assets
dist/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS junk
.DS_Store

# IDE junk
.idea/
.vscode/